@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

.card {
  height: 370px;
  width: 600px;
  float: left;
  margin-left: 60px;
  margin-bottom: 30px;
}
.Handleimg {
  height: 230px;
  width: 100%;
  max-width: 230px;
}
.card2 {
  padding-bottom: 20px;
  margin-top: 100px;
  justify-content: center;
}
.Handleimg2 {
  height: 350px;
  width: 100%;
  max-width: 350px;
}
.box1 {
  padding-bottom: 20px;
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  background-color: rgb(252, 249, 249);
}
.responsive-ul {
  display: flex;
  justify-content: center;
}
.manage-card {
  display: block;
  height: 100%;
  width: 100%;
}
