@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

.card {
  height: 370px;
  width: 600px;
  float: left;
  margin-left: 60px;
  margin-bottom: 30px;
}
.Handleimg {
  height: 230px;
  width: 100%;
  max-width: 230px;
}
.card2 {
  padding-bottom: 20px;
  margin-top: 100px;
  justify-content: center;
}
.Handleimg2 {
  height: 350px;
  width: 100%;
  max-width: 350px;
}
.box1 {
  padding-bottom: 20px;
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  background-color: rgb(252, 249, 249);
}
.responsive-ul {
  display: flex;
  justify-content: center;
}
.manage-card {
  display: block;
  height: 100%;
  width: 100%;
}
.manage-style {
  border-radius: 20px !important;
  box-shadow: 1px 1px 2px 2px grey !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.style-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.button-style {
  cursor: pointer;
  margin-left: 60px;
  background: black;
  color: white;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.pre-style {
  cursor: pointer;
  background: black;
  color: white;
  width: 100px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 20px;
}
.cross {
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
}
.pre-image {
  width: 350px;
  height: 150px;
}
.product-style {
  padding-top: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.main-style {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.submit-style {
  width: 100%;
  max-width: 350px;
  height: 40px;
  margin-top: 30px !important;
  margin-left: 20px !important;
}
.width-style {
  width: 100%;
  max-width: 350px;
}
.commonLeftstyle {
  padding-left: 20px;
  margin-top: 20px;
}
.manage-res {
  display: flex;
  flex-direction: column;
}
.error {
  color: red !important;
}
.decoration {
  text-decoration: none;
}
.handle-res {
  display: flex;
  margin-top: 20px;
}
