.card {
  height: 370px;
  width: 600px;
  float: left;
  margin-left: 60px;
  margin-bottom: 30px;
}
.Handleimg {
  height: 230px;
  width: 100%;
  max-width: 230px;
}
.card2 {
  padding-bottom: 20px;
  margin-top: 100px;
  justify-content: center;
}
.Handleimg2 {
  height: 350px;
  width: 100%;
  max-width: 350px;
}
